<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spark me.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
				<key>dateExpires</key>
				<string>03/03/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AZSClient.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DTGradientButton.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EasyTipView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMapsBase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMapsCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GooglePlaces.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageViewer_swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Imaginary.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImglyKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LRSpotlight.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LabelSwitch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDatePickerView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RAMAnimatedTabBarController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RSLoadingView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SKCountryPicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SoundWave.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TransitionButton.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VariousViewsEffects.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B606CE9962BF91951570C69256F385F92C56B8BF</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>DPDP9Y4KUD.com.adhash.spark.NotificationServiceExtention</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>DPDP9Y4KUD</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>DPDP9Y4KUD.com.adhash.spark.NotificationServiceExtention</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>8f7e52f4-b73b-40ac-9bda-87027a9a52ed</string>
						<key>dateExpires</key>
						<string>03/03/23</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.adhash.spark.NotificationServiceExtention</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DPDP9Y4KUD</string>
						<key>name</key>
						<string>Aditi Mehta</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DPDP9Y4KUD.com.adhash.spark</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:sparkme.synctag.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>DPDP9Y4KUD</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Spark me.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>895d6128-b3d9-41fb-a316-85589e1a8a3e</string>
				<key>dateExpires</key>
				<string>03/03/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.adhash.spark</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DPDP9Y4KUD</string>
				<key>name</key>
				<string>Aditi Mehta</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.4</string>
		</dict>
	</array>
</dict>
</plist>
